* {
    box-sizing: border-box;
}
body {
    background: #3a3a3a;
}
.back-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #11999e;
    border: #11999e 1px solid;
    overflow: hidden;
    transition: background 0.3s ease;
}
.back-button.back .arrow-wrap {
    left: -50%;
}
.back-button:hover {
    background: #30e3ca;
}
.back-button:hover .arrow-wrap span {
    background: #fff;
}
.back-button .arrow-wrap {
    display: block;
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.3s ease;
}
.back-button .arrow-wrap span {
    height: 1px;
    left: 0;
    top: 50%;
    background: #eee;
    position: absolute;
    display: block;
    transition: background 0.3s ease;
}
.back-button .arrow-wrap .arrow-part-1 {
    width: 100%;
    transform: translate(0, -50%);
}
.back-button .arrow-wrap .arrow-part-2 {
    width: 60%;
    transform: rotate(-45deg);
    transform-origin: 0 0;
}
.back-button .arrow-wrap .arrow-part-3 {
    width: 60%;
    transform: rotate(45deg);
    transform-origin: 0 0;
}
