/* FULL D'ESTILS DE LA WEB APP
*/

/* \/ \/ LAYOUT: Material Design */
/* L'aplicació és una una pàgina que ocupa tot l'ample i alçada, 
imitant una aplicació mòvil*/
#webApp{
  width: 100%;
  height: 100vh;
}

/* \/ \/ ELEMENTS */
/* Estat dels butons i estil associat: VISIBLE/NO VISIBLE, demostració accedint per id */
#webCamPlay{
  display:none;
}
#webCamPause{
  display:inline-block;
}

#retroWebCam{
  position: absolute;
  top: 8%;
  right: 20.5%;
  width: 800px;
  height: 400px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 2.2px;
  margin-top: -0.5px;
  transition: 0.2s;
}
/* Aspecte del contenidor d'imatges de la webCam */
#videoElement{
  width: 800px;
  height: 400px; 
}
/* Aspecte del contenidor d'imatges estàtiques */
#canvas{
  display: none;
  width: 800px;
  height: 400px;
  /*border: 1px solid red;*/
}
/* Aspecte del contenidor d'imatges per la descàrrega (NO VISIBLE) */
#downloadCanvas{
  display: none;
  object-fit: contain;
  /*border: 1px solid red;*/
}

#capture {
  display: none;
  margin-left: 2vh;
}

#cameraOn {
  margin-left: 2vh;
}